body{
	font-family: Verdana;
	font-size: 12pt;
	left: 25%;
	position: absolute;
}
table{
	text-align: center;
	width: 100%;
	padding: 2px;
}
h2{
	text-align: center;
	font-weight: bold;
	padding: 5px;
	margin: 10px;
	font-family: Swis721 BlkCn BT;
	font-weight: bold;
	color:#FFFFFF;
}
tr.header{
	font-weight: bold;
	text-align: left;
}
td{
	text-align: left;
}
td.mk{
	width: 400px;
}
table.mk1,table.nm{
	width: 100%;
	position: relative;
	top: 32%;
}
.bg{
	background-color: #e5e9e9;
	padding: 10px 10px;
	box-shadow: 1px 1px 3px #0c191f;
}
div.ktk{
	border-radius: 10px;
	background-color: #2a6b68;
	margin:5px;
	padding:8px 8px 8px 10px;
}
table.border{
	border:2px dotted #253b45;
    width: 97.5%;
    margin:1px;
    margin-left: 5px;
    border-color: #253b45;
}
tr.header:first-child, tr.footer{
	background-color: lightyellow;
}
.border td:nth-child(4),.border td:nth-child(2),.border td:nth-child(1){
	width: 50px;
	padding-right: 8px;
}
table.top {
	position: relative;
	left: 150px;
	width: 380px;
	margin:5px;
	background-color: lightblue;
	border-radius: 0.5em;
	box-sizing: border-box;
	padding: 5px;
}
input[type=submit]{
	background-color: #98bf21;
	width: 100%;
	padding: 2px 8px;
	margin: 0;height: 35px;
	border-style: none;
	border-radius: 0.5em;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
}
a:hover input[type=submit]{
	background-color: darkred;
}